<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
    <link href="/style_new.css" rel="stylesheet">
</head>
<body>
    <h1>Create a new Post</h1>
    <form method="post" action="/posts">
    <input placeholder="Enter Photo link" name="image"><br><br>
    <input type="text" name='username' placeholder="Enter username"><br><br>
    <input type="text" name='content' placeholder="Enter title"><br><br>
    
    <button>Submit Post</button>
    </form>
</body>
</html>