<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div>
    <h2>Your Post:</h2>
    <p>Post id: <%=post.id%></p>
    <img src="<%=post.image%>">
    <p>Username: <%=post.username%> </p>
    <p>Title: <%=post.content%></p>
    </div>
</body>
</html>